<style>
    
</style>

<table class="table history">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>SQS Id</th>
            <th>Status</th>
            <th>Rejections</th>
            <th>Reasons</th>
        </tr>
    </thead>
    <tbody>
        <% tradingAlerts.forEach((ta) => { 
            var skipped = ta.reasons && ta.reasons.length > 0
        %>
            <tr class="<%= skipped? 'skipped':'dispatched' %>">
                <td>
                    <%= ta.signalId %>
                </td>
                <td>
                    <%= ta.awsSQSId %>
                </td>
                <td>
                    <span class="badge <%= skipped ? 'badge-warning': 'badge-info'%>">
                        <%= skipped ? 'Skipped' : 'Dispatched' %>
                    </span>
                </td>
                <td>
                    <span class="<%= ta.rejections.length > 0 ? 'badge badge-warning': ''%>">
                        <%= ta.rejections.length %>
                    </span>
                </td>
                <td>
                    <% ta.reasons.forEach(reason => {
                        var smallReason = reason.replace('too','').replace('is','').replace('a','').trim()
                    %>
                        <span class="badge badge-light">
                            <%= smallReason.toUpperCase() %>
                        </span>
                        <%}) %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>