<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<style>
    .users-card {
        width: 350px;
        height: 350px;
    }

    .col-sm {
        font-weight: lighter
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <%- include('usersStats',{label:'Total Users',statsData: users.length}) %>
        </div>
        <div class="col-sm">
            <%- include('usersStats',{label:'Last 24h',statsData: users.oneDayOldUsers}) %>
        </div>
        <div class="col-sm">
            <%- include('usersStats',{label:'Last 7 days',statsData: users.oneWeekOldUsers}) %>
        </div>
        <div class="col-sm">
            <%- include('usersStats',{label:'Last 30 days',statsData: users.oneMonthOldUsers}) %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <canvas id="totalUsersChart" width="250" height="250"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="total24hNewUsersChart" width="250" height="250"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="total7DaysNewUsersChart" width="250" height="250"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="total30DaysNewUsersChart" width="250" height="250"></canvas>
        </div>
    </div>
    <div class="row">
        <hr />
    </div>
    <div class="row">
        <div class="col-sm">
            Horizon Summary
        </div>
        <div class="col-sm">
            Users alerts setting
        </div>
        <div class="col-sm">
            Crypto Panic setting
        </div>
        <div class="col-sm">
            Active users today
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <canvas id="totalHorizonChart" width="250" height="250"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="totalMutedChart" width="250" height="250"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="totalCryptoEnabledChart" width="250" height="250"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="totalActiveTodayChart" width="250" height="250"></canvas>
        </div>
    </div>
</div>


<script>
    var ctx = document.getElementById("totalUsersChart");
    var totalUsersChartObj = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier1"],
            datasets: [{
                data: [ <%- users.TotalFree %>,  <%- users.TotalFreePlus %>,  <%- users.TotalTier1 %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx2 = document.getElementById("total24hNewUsersChart");
    var total24hNewUsersChartObj = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier 1"],
            datasets: [{
                data: [ <%- users.oneDayOldFreeUsers %>,  <%- users.oneDayOldFreePlusUsers %>,  <%- users.oneDayOldTier1Users %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx3 = document.getElementById("total7DaysNewUsersChart");
    var total7DaysNewUsersChartObj = new Chart(ctx3, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier 1"],
            datasets: [{
                data: [ <%- users.oneWeekOldFreeUsers %>,  <%- users.oneWeekOldFreePlusUsers %>,  <%- users.oneWeekOldTier1Users %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
    }})

    var ctx4 = document.getElementById("total30DaysNewUsersChart");
    var total30DaysNewUsersChartObj = new Chart(ctx4, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier 1"],
            datasets: [{
                data: [ <%- users.oneMonthOldFreeUsers %>,  <%- users.oneMonthOldFreePlusUsers %>,  <%- users.oneMonthOldTier1Users %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx5 = document.getElementById("totalHorizonChart");
    var totalHorizonChartObj = new Chart(ctx5, {
        type: 'doughnut',
        data: {
            labels: ["Short", "Medium", "Long"],
            datasets: [{
                data: [ <%- users.TotalShort %>,  <%- users.TotalMedium %>,  <%- users.TotalLong %>],
                backgroundColor: [
                    'rgba(255, 0, 0, 0.2)',
                    'rgba(0, 162, 0, 0.2)',
                    'rgba(0, 0, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx6 = document.getElementById("totalMutedChart");
    var totalMutedChartObj = new Chart(ctx6, {
        type: 'doughnut',
        data: {
            labels: ["Alert On", "Alert Off"],
            datasets: [{
                data: [ <%- users.length - users.TotalMuted %>,  <%- users.TotalMuted %>],
                backgroundColor: [
                'rgba(0, 162, 0, 0.2)',    
                'rgba(255, 0, 0, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx7 = document.getElementById("totalCryptoEnabledChart");
    var totalCryptoEnabledChartObj = new Chart(ctx7, {
        type: 'doughnut',
        data: {
            labels: ["Feed On", "Feed Off"],
            datasets: [{
                data: [ <%- users.TotalCryptoEnabled %>,  <%- users.length - users.TotalCryptoEnabled %>],
                backgroundColor: [
                'rgba(0, 162, 0, 0.2)',    
                'rgba(255, 0, 0, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx8 = document.getElementById("totalActiveTodayChart");
    var totalActiveTodayChartObj = new Chart(ctx8, {
        type: 'doughnut',
        data: {
            labels: ["Active", "Inactive"],
            datasets: [{
                data: [ <%- users.ActiveToday %>,  <%- users.length - users.ActiveToday %>],
                backgroundColor: [
                'rgba(0, 162, 0, 0.2)',    
                'rgba(255, 0, 0, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

</script>