<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<style>
    .users-card {
        width: 350px;
        height: 350px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <%- include('usersStats',{label:'Total Users',statsData: users.length}) %>
        </div>
        <div class="col-sm">
            <%- include('usersStats',{label:'Last 24h',statsData: users.oneDayOldUsers}) %>
        </div>
        <div class="col-sm">
            <%- include('usersStats',{label:'Last 7 days',statsData: users.oneWeekOldUsers}) %>
        </div>
        <div class="col-sm">
            <%- include('usersStats',{label:'Last 30 days',statsData: users.oneMonthOldUsers}) %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <canvas id="totalUsersChart" width="250" height="250"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="total24hNewUsersChart" width="250" height="250"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="total7DaysNewUsersChart" width="250" height="250"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="total30DaysNewUsersChart" width="250" height="250"></canvas>
        </div>
    </div>
</div>


<script>
    var ctx = document.getElementById("totalUsersChart");
    var totalUsersChartObj = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier1"],
            datasets: [{
                data: [ <%- users.TotalFree %>,  <%- users.TotalFreePlus %>,  <%- users.TotalTier1 %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx2 = document.getElementById("total24hNewUsersChart");
    var total24hNewUsersChartObj = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier 1"],
            datasets: [{
                data: [ <%- users.oneDayOldFreeUsers %>,  <%- users.oneDayOldFreePlusUsers %>,  <%- users.oneDayOldTier1Users %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx3 = document.getElementById("total7DaysNewUsersChart");
    var total7DaysNewUsersChartObj = new Chart(ctx3, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier 1"],
            datasets: [{
                data: [ <%- users.oneWeekOldFreeUsers %>,  <%- users.oneWeekOldFreePlusUsers %>,  <%- users.oneWeekOldTier1Users %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
    }})

    var ctx4 = document.getElementById("total30DaysNewUsersChart");
    var total30DaysNewUsersChartObj = new Chart(ctx4, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier 1"],
            datasets: [{
                data: [ <%- users.oneMonthOldFreeUsers %>,  <%- users.oneMonthOldFreePlusUsers %>,  <%- users.oneMonthOldTier1Users %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

</script>