<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<style>
    .users-card {
        width: 350px;
        height: 350px;
    }

    .col-sm {
        font-weight: lighter
    }
</style>

<div class="container">
        <div class="row">
                <canvas id="usersTimelineChart" width="1200" height="300"></canvas>
            </div>
    <div class="row">
        <div class="col-sm">
            <%- include('usersStats',{label:'Total Users',sublabel:'No EULA',statsData: users.length, secondary: ((users.length-users.TotalEula)*100/users.length).toFixed(1)+'%'}) %>
        </div>
        <div class="col-sm">
            <%- include('usersStats',{label:'Total Blocked Users',sublabel:null,statsData: users.TotalBlocked, secondary: null}) %>
        </div>
        <div class="col-sm">
            <%- include('usersStats',{label:'Total Ever Paid Users',sublabel:'Total tokens',statsData: users.TotalAllTimePayingUsers, secondary: users.AllTimePaidTokens.toFixed(1)}) %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <canvas id="totalUsersChart" width="auto" height="250" style="display:inline"></canvas>
        </div>
        <div class="col-sm">
                <canvas id="totalBlockedUsersChart" width="auto" height="250" style="display:inline"></canvas>
            </div>
            <div class="col-sm">
                    <canvas id="totalEverPaidUsersChart" width="auto" height="250" style="display:inline"></canvas>
                </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm">
            <%- include('usersStats',{label:'Last 24 hours',sublabel:'No EULA',statsData: users.oneDayOldUsers, secondary:((users.oneDayOldUsers-users.oneDayOldUsersEula)*100/users.oneDayOldUsers).toFixed(1)+'%'}) %>
        </div>
        <div class="col-sm">
            <%- include('usersStats',{label:'Last 7 days',sublabel:'No EULA',statsData: users.oneWeekOldUsers, secondary:((users.oneWeekOldUsers-users.oneWeekOldUsersEula)*100/users.oneWeekOldUsers).toFixed(1)+'%'}) %>
        </div>
        <div class="col-sm">
            <%- include('usersStats',{label:'Last 30 days',sublabel:'No EULA',statsData: users.oneMonthOldUsers, secondary:((users.oneMonthOldUsers-users.oneMonthOldUsersEula)*100/users.oneMonthOldUsers).toFixed(1)+'%'}) %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <canvas id="total24hNewUsersChart" width="auto" height="250" style="display:inline"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="total7DaysNewUsersChart" width="auto" height="250" style="display:inline"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="total30DaysNewUsersChart" width="auto" height="250" style="display:inline"></canvas>
        </div>
    </div>
    <hr />
    <div class="row">
        <hr />
    </div>
    <div class="row">
        <div class="col-sm">
            Total: <%=users.length %>
        </div>
        <div class="col-sm">
            Total: <%=users.length %>
        </div>
        <div class="col-sm">
            Total: <%=users.length %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Horizon Summary
        </div>
        <div class="col-sm">
            Users alerts setting
        </div>
        <div class="col-sm">
            Crypto Panic setting
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <canvas id="totalHorizonChart" width="auto" height="250" style="display:inline"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="totalMutedChart" width="auto" height="250" style="display:inline"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="totalCryptoEnabledChart" width="auto" height="250" style="display:inline"></canvas>
        </div>
    </div>
</div>


<script>
    var ctx = document.getElementById("totalUsersChart");
    var totalUsersChartObj = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier1","Pro","Advanced"],
            datasets: [{
                data: [ <%- users.TotalFree %>,  <%- users.TotalFreePlus %>,  <%- users.TotalTier1 %>, <%- users.TotalPro %>,  <%- users.TotalAdvanced %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(20, 206, 86, 0.2)',
                    'rgba(79, 92, 140, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx1 = document.getElementById("totalBlockedUsersChart");
    var totalBlockedUsersChartObj = new Chart(ctx1, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier1",'Pro','Advanced'],
            datasets: [{
                data: [ <%- users.TotalBlockedFree %>,  <%- users.TotalBlockedFreePlus %>,  <%- users.TotalBlockedTier1 %>,<%- users.TotalBlockedPro %>,<%- users.TotalBlockedAdvanced %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(20, 206, 86, 0.2)',
                    'rgba(79, 92, 140, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx11 = document.getElementById("totalEverPaidUsersChart");
    var totalEverPaidUsersChartObj = new Chart(ctx11, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier1",'Pro','Advanced'],
            datasets: [{
                data: [ <%- users.TotalAllTimePayingFree %>,  <%- users.TotalAllTimePayingFreePlus %>,  <%- users.TotalAllTimePayingTier1 %>,<%- users.TotalAllTimePayingPro %>,<%- users.TotalAllTimePayingAdvanced %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(20, 206, 86, 0.2)',
                    'rgba(79, 92, 140, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx2 = document.getElementById("total24hNewUsersChart");
    var total24hNewUsersChartObj = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier 1"],
            datasets: [{
                data: [ <%- users.oneDayOldFreeUsers %>,  <%- users.oneDayOldFreePlusUsers %>,  <%- users.oneDayOldTier1Users %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx3 = document.getElementById("total7DaysNewUsersChart");
    var total7DaysNewUsersChartObj = new Chart(ctx3, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier 1"],
            datasets: [{
                data: [ <%- users.oneWeekOldFreeUsers %>,  <%- users.oneWeekOldFreePlusUsers %>,  <%- users.oneWeekOldTier1Users %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
    }})

    var ctx4 = document.getElementById("total30DaysNewUsersChart");
    var total30DaysNewUsersChartObj = new Chart(ctx4, {
        type: 'doughnut',
        data: {
            labels: ["FREE", "FREE+", "Tier 1"],
            datasets: [{
                data: [ <%- users.oneMonthOldFreeUsers %>,  <%- users.oneMonthOldFreePlusUsers %>,  <%- users.oneMonthOldTier1Users %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx5 = document.getElementById("totalHorizonChart");
    var totalHorizonChartObj = new Chart(ctx5, {
        type: 'doughnut',
        data: {
            labels: ["Short", "Medium", "Long"],
            datasets: [{
                data: [ <%- users.TotalShort %>,  <%- users.TotalMedium %>,  <%- users.TotalLong %>],
                backgroundColor: [
                    'rgba(255, 0, 0, 0.2)',
                    'rgba(0, 162, 0, 0.2)',
                    'rgba(0, 0, 86, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx6 = document.getElementById("totalMutedChart");
    var totalMutedChartObj = new Chart(ctx6, {
        type: 'doughnut',
        data: {
            labels: ["Alert On", "Free Muted","Free+ Muted","Tier1 Muted",'Pro','Advanced'],
            datasets: [
            {
                data: [ <%- users.length - users.TotalMuted %>, <%- users.TotalFreeMuted %>,  <%- users.TotalFreePlusMuted %>,<%- users.TotalTier1Muted %>,<%- users.TotalProMuted %>,<%- users.TotalAdvancedMuted %>],
                backgroundColor:  [
                'rgba(148, 240, 250, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(20, 206, 86, 0.2)',
                    'rgba(79, 92, 140, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var ctx7 = document.getElementById("totalCryptoEnabledChart");
    var totalCryptoEnabledChartObj = new Chart(ctx7, {
        type: 'doughnut',
        data: {
            labels: ["Feed On", "Feed Off"],
            datasets: [{
                data: [ <%- users.TotalCryptoEnabled %>,  <%- users.length - users.TotalCryptoEnabled %>],
                backgroundColor: [
                'rgba(0, 162, 0, 0.2)',    
                'rgba(255, 0, 0, 0.2)']
            }]
        },
        options: {
            responsive: false
        }
    });

    var timelineCtx = document.getElementById("usersTimelineChart");
    var usersTimelineChartObj = new Chart(timelineCtx, {
        type: 'line',
        data: {
        labels:[<%-users.UsersTimeline.map(u => '"'+u.day+'"')%>],
        datasets: [{
            label:'New users / day',
            data: [<%- users.UsersTimeline.map(u => u.total)%>],
            fill:false,borderColor:"rgb(75, 192, 192)",lineTension:0.1
            },
            {
            label:'Total users / day',
            data: [<%- users.RunningTotalDayByDay.map(u => u.total)%>],
            fill:false,borderColor:"rgb(250, 0, 0)",lineTension:0.1
            }]
        },
        options: {
            responsive: false
        }
    });

</script>