<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Admin Panel</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <style type="text/css">
        .table-title {
            font-weight: lighter;
            padding: 20;
        }

        .history {
            font-size: 12px
        }

        tr {
            width: 100%;
            display: inline-table;
            table-layout: fixed;
        }

        td,
        th {
            text-align: center
        }

        table {
            height: 550px
        }

        tbody {
            overflow-y: scroll;
            height: 500px;
            position: absolute;
        }

        .container-fluid {
            margin: 20px;
            padding: 20px
        }

        .tab-content {
            padding: 20px
        }

        .login-header {
            width: 50px;
            height: 50px;
        }

        .login-avatar {
            margin-left: 25px
        }

        .main-content {
            padding-top: 70px
        }

        .tab-content {
            width: 100%
        }
    </style>
</head>

<body>

    <nav class="row navbar navbar-light fixed-top bg-light">
        <div class="navbar-header login-avatar">
            <img src="<%= login.avatar%>" class="rounded-circle login-header" />
            <%= login.first_name %>
        </div>
    </nav>
    <div id="app" class="container-fluid main-content">
        <div class="row">

            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="false">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Signal History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Dispatched Signals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tools-tab" data-toggle="tab" href="#tools" role="tab" aria-controls="tools" aria-selected="false">Tools</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                    <%- include('mainTab') %>
                </div>
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-sm">
                            <%- include('lastSignal',{label:'Last signal',statsData: history.timeFromLastSignal, health: history.signalHealth}) %>
                        </div>
                        <div class="col-sm">
                            <%- include('lastSignal',{label:'Last signal FREE',statsData: history.timeFromLastFreeSignal, health: history.freeSignalHealth}) %>
                        </div>
                    </div>
                    <%- include('historyTab',{history:history}) %>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <%- include('dispatcherTab',{tradingAlerts:tradingAlerts}) %>
                </div>
                <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
                    <%- include('usersTab',{users:users}) %>
                </div>
                <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">
                    <%- include('toolsTab') %>
                </div>
            </div>
        </div>

        <span style="font-size: 9">
            (Last reload:
            <%= new Date().toString() %>)</span>

</body>
<script>
    setInterval(() => {
        location.reload(true)
    }, 30 * 60 * 1000)


    $(document).ready(function () {
        $('#tbl-history').DataTable();
        $('#tbl-users').DataTable();
        $('#tbl-dispatcher').DataTable();
    });

</script>

</html>